h1 {color: darkred;
    font-size: 40px
    }

img { width: 500px;
       height: 350px;


}

p { font-size: 35px;
 }
 body {background-color: grey;
 	   font-size: 25px;
   }


a {color: maroon;
    }